{deps, [
    {enacl_p, ".*", {git, "https://github.com/kzemek/enacl_p.git", {tag, "0.15.4"}}},
    {base64url, ".*", {git, "https://github.com/dvv/base64url.git", {tag, "v1.0"}}}
]}.

{dialyzer, [
    {warnings, [error_handling, race_conditions, unknown]},
    {plt_extra_apps, [enacl_p, base64url]}
]}.

%% eunit opts - Maven-like output formatting
{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "./test/eunit_results"}]}}
]}.

%% pre-hooks
{pre_hooks, [
    {eunit, "mkdir -p test/eunit_results"}, %% Make dir for eunit' surefire test results
    {eunit, "epmd -daemon"} %% Sometimes, in some cases epmd daemon doesn't start during eunit tests, so we need to force start it
]}.

%% Cleanup
{clean_files, [
    "test/eunit_results"
]}.

